.navbar {
  text-align: center;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid black;
}

.footer {
  border-top: 1px solid black;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;

}

.link {
  padding: 0.5em;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 1em 1em;



}